.About > h3{
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.Gallery > h3{
  position: relative;
  left: 600px;
}

.Gallery > h3 > img{
  width: 500px;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 100px 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
  
.About > H2 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 3rem;
}
  
.About > nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.About > nav > button{
  background: none;
  color: white;
  font-size: 20px;
  border: 0;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px 20px;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  width: 300px;
  height: 350px;
}
  
.Card > img {
  height: 10rem;
  position: relative;
  bottom: 30px;
}
  
.Card > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.Card:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
