.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 100px 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.Home > H2 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.Home > h3{
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.Home > p{
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 15px;
  width: 1000px;
  height: 220px;
  position: relative;
  left: 475px;
  border-radius: 30px;
}

.Moto{
  padding-top: 50px;
  position: relative;
  top: 50px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px 20px;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  width: 300px;
  height: 350px;
}

.Card > img {
  height: 10rem;
  position: relative;
  bottom: 30px;
}

.Card > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}