* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(https://i.blogs.es/5c69f4/motogp-22/1366_2000.jpeg);
    background-size: cover;
    background-attachment: fixed;
}